language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - build-tools-27.0.1
    - android-27
    - android-22
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-22

jdk:
  - oraclejdk8

sudo: true

before_script:
  - echo no | android create avd --force -n test -t android-22 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - sleep 10
  - adb shell input keyevent 82

env:
  matrix:
    - TEST=:preferenceholder:connectedDebugAndroidTest
    - TEST=:preferenceholder-gson-serializer:connectedDebugAndroidTest

script:
  - ./gradlew $TEST -i

branches:
  only:
  - master
  - stable

cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle